.cart-icon-container {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 74px;
    height: 74px;
  }

  .item-count {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    top: 22px;
  }
}
